{% extends "account/base.html" %}


{% load static %}
{% load i18n %}
{% load tailwind_filters %}
{% block head_title %}{% trans "Cerrar sesion" %}{% endblock %}


{% block body %}
{% block content %}
{% include 'pages/index.html' %}
<form method="post" action="{% url 'account_logout' %}">
   {% include 'modals/confirmar.html' %}
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

</form>
{% endblock %}
{% endblock body %}

