{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Registrarse" %}{% endblock %}
{% load tailwind_filters %}
{% block content %}
<div class="flex items-center justify-center min-h-full px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <img class="w-20 mx-auto" src="{%static 'img/logo.png'%}" alt="migueautos">
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">Registar cuenta</h2>
      <p class="mt-2 text-sm text-center text-gray-600">
        Ya estas registrado? 
        <a href="{% url 'account_login'%}" class="font-medium text-indigo-600 hover:text-indigo-500"> Iniciar sesión </a>
      </p>
    </div>
    <form class="mt-8 space-y-6" id="signup_form" action="{% url 'account_signup' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          {{ form|crispy}}
        </div>
        <button type="submit" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="w-5 h-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Registrarse
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
