{% extends "basepag.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Factura
{% endblock title  %}


{% block navbar %}
{% include "components/navbar.html" %}
{% endblock navbar %}

{% block body %}
{% block content %}
<div class="grid grid-flow-col grid-cols-2 grid-rows-2">
    <div class="col-span-2 text-center bg-gray-50">
        <h1>usuario</h1>
        <div>
            <h1>Seleccione el usuario para generar su factura</h1>
        </div>
        <div>
            <form action="">
                {% csrf_token %}
                <div id="div_id_usuario" class="container w-1/2 mx-auto"> 
                    <label for="id_usuario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900">Usuario<span class="asteriskField">*</span> 
                    </label>
                    <div class="mb-3">
                        <div class="relative">
                            <select
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                value={{factura.usuario}} </select>
                        </div>
                    </div>
                </div>
                <button id="mostrar" type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Generar
                    factura</button>


            </form>
        </div>
    </div>
    <div class="hidden bg-gray-100">
        formulario1
    </div>
    <div class="hidden bg-gray-200">
        formulario1
    </div>

</div>









<script>
    $(document).ready(function () {
        $("#mostar").on("click", function () {
            $(".hidden").show();
        });

    });
</script>
{% endblock content %}
{% endblock body %}