{% load tailwind_tags %} 

{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% tailwind_css %}
    {% load crispy_forms_tags %}
    {% tailwind_preload_css %}
     {% comment %} LINKEO DE
    DATATABLES {% endcomment %}
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'js/datatables/DataTables-1.12.1/css/jquery.dataTables.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/datatables/Buttons-2.2.3/css/buttons.dataTables.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/datatables/Responsive-2.3.0/css/responsive.dataTables.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/datatables/SearchBuilder-1.3.3/css/searchBuilder.dataTables.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/daisyiu.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/libs/flowbite.css' %}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <base href="/" />
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <header>
      {% block navbar %}
      {% include "components/navbar.html" %}
       {% endblock navbar %}
      </header>


    {% block content %}
    {% endblock content %}


    <div class="acces">
      {% block accesibilidad %}
      {% include 'components/acces.html' %} 
      {%endblock accesibilidad %}
    </div>

    <script src="{% static 'js/libs/flowbite.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/JSZip-2.5.0/jszip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/pdfmake-0.1.36/pdfmake.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/DataTables-1.12.1/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/Buttons-2.2.3/js/dataTables.buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/Buttons-2.2.3/js/buttons.colVis.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/Buttons-2.2.3/js/buttons.html5.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/Buttons-2.2.3/js/buttons.print.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/Responsive-2.3.0/js/dataTables.responsive.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables/SearchBuilder-1.3.3/js/dataTables.searchBuilder.js' %}"></script>
    

    <script type="text/javascript" src="{% static 'js/tabla.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/carousel-code.js' %}"></script>
    


    <script type="text/javascript" src="{% static 'js/select2/select2.js' %}"></script>
    
    <script type="application/json" src="{% static 'js/toastr.js.map' %}"></script>

    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/select2/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/open-accessibility/open-accessibility.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/open-accessibility/locale.min.js' %}"></script>
    
{% block footers %}
{% include 'components/footer.html' %}
{% endblock footers %}
</body>

</html>
