
{% load static %}
<footer class="flex flex-wrap w-full h-16 p-0 m-0 mt-3 text-sm text-gray-500 sm:flex sm:flex-wrap sm:items-center dark:bg-gray-700 bg-light-white dark:text-gray-400 sm:mt-0">
        <span class="flex justify-start flex-grow ml-4 text-sm text-gray-500 font-display sm:text-center dark:text-gray-400">© 2022 &nbsp; <a href="" class="hover:underline"> JJMAV™ </a>.&nbsp;&nbsp; Todos los derechos reservados 
        </span>
        <span class="flex justify-end flex-grow mr-4 text-sm text-gray-500 sm:text-center dark:text-gray-400">
            <a href="https://www.facebook.com/JJMAV-105565489909878/" target="_blank" class="hover:underline">
                <!-- <img src="{% static 'images/facebook.png' %}" alt="facebook" class="w-6 h-6"> -->
            </a>
            <a href="https://www.instagram.com/jjmav_/" target="_blank" class="hover:underline">
                <!-- <img src="{% static 'images/instagram.png' %}" alt="instagram" class="w-6 h-6"> -->
            </a>
            <a href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw" target="_blank" class="hover:underline">
                <!-- <img src="{% static 'images/youtube.png' %}" alt="youtube" class="w-6 h-6"> -->
            </a>
</footer>

